body{
    background-image: linear-gradient(to right, pink, white);
}

.title{
    text-align: center;
    background: -webkit-linear-gradient(green, lime);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

ul{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 10%;
    margin-right: 10%;
}

a{
    font-size: 30px;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
}
img{
    width: 300px;
    height: 300px;
}

li{
    display: flex;
    flex-direction: column;
}